@model Login

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-4">
        <h2 class="text-center mb-3">Faça o Login</h2>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-action="Login" asp-controller="Usuario" method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Digite seu email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3 password-container">
                <label class="form-label">Senha</label>
                <div class="password-container">
                <input asp-for="Senha" type="password" id="senha" class="form-control" placeholder="Digite sua senha"/>
                    <i class="bi bi-eye toggle-visibility" id="toggleSenha"></i>
                </div>
                <span asp-validation-for="Senha" class="text-danger"></span>

            </div>

            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-dark w-100 mt-3 smooth-btn">Login</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-light border border-dark rounded w-100 mt-3 smooth-btn" asp-controller="Home" asp-action="Index" role="button">
                        Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>